@model NhaHang.Module.Customers.Areas.Customers.ViewModels.EvaluateWidgetComponentVm


<section class="container bg-o-m-container">
    <div class="inner-container">
        <section class="component-o-m-container">
            <div class="component-o-m">
                <div class="area-show">
                    <div class="area">
                        @{
                            int duration = 0;
                            int[] durations = new int[] { 0, 400, 600, 900, 1200, 1500 }; 
                        }
                        @foreach (var evaluate in Model.Evaluates)
                        {
                            <div data-aos-offset="-500" data-aos="zoom-in-right" data-aos-duration="@duration" class="item item-@evaluate.LinkImage">
                                <figure class="image-block">
                                    <img src="@evaluate.ThumbnailUrl" alt="@evaluate.Name">
                                </figure>
                            </div>
                            duration = durations[(durations.ToList().IndexOf(duration) + 1) % durations.Length];
                        }
                        <p class="line line-y line-1-2"></p>
                        <p class="line line-y line-1-3"></p>
                        <p class="line line-y line-1-4"></p>
                        <p class="line line-y line-1-5"></p>
                        <p class="line line-x line-2-1"></p>
                        <p class="line line-x line-2-2"></p>
                        <p class="line line-x line-2-3"></p>
                        <p class="line line-x line-2-4"></p>
                        <p class="line line-x line-2-5"></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>