<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0n">
                {{::vm.translate.get('Info Contact')}}
            </h1>
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <li class="breadcrumb-item text-muted">
                    <a href="admin" class="text-muted text-hover-primary">{{::vm.translate.get('Home')}}</a>
                </li>
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="javascript:;" class="text-muted text-hover-primary">
                        {{::vm.translate.get('Company')}}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <li class="breadcrumb-item text-muted">
                    {{::vm.translate.get('Info Contact')}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card card-flush py-4">
            <div class="card-body pt-10">
                <form name="infomationForm" class="form-horizontal">
                    <div class="alert alert-danger d-flex align-items-center p-5" ng-show="vm.validationErrors">
                        <i class="ki-outline ki-call fs-2hx text-danger me-4"></i>
                        <div class="d-flex flex-column">
                            <h4 class="mb-1 text-danger" ng-repeat="error in vm.validationErrors">{{error}}</h4>
                        </div>
                    </div>
                    <input type="hidden" ng-model="vm.infomation.id" />
                    <div class="mb-10 fv-row">
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Address')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-map fs-1"></i>
                                    </span>
                                    <input name="address" ng-model="vm.infomation.address" placeholder="{{::vm.translate.get('Address')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Email')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-message-text-2 fs-1"></i>
                                    </span>
                                    <input name="email" ng-model="vm.infomation.email" placeholder="{{::vm.translate.get('Email')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Hotline')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-delivery-24 fs-1"></i>
                                    </span>
                                    <input name="hotline" ng-model="vm.infomation.hotline" placeholder="{{::vm.translate.get('Hotline')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Phone')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-delivery-24 fs-1"></i>
                                    </span>
                                    <input name="phone" ng-model="vm.infomation.phone" placeholder="{{::vm.translate.get('Phone')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Fax')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-office-bag fs-1"></i>
                                    </span>
                                    <input name="fax" ng-model="vm.infomation.fax" placeholder="{{::vm.translate.get('Fax')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Tax Code')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-office-bag fs-1"></i>
                                    </span>
                                    <input name="taxcode" ng-model="vm.infomation.taxCode" placeholder="{{::vm.translate.get('TaxCode')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Zalo')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-delivery-24 fs-1"></i>
                                    </span>
                                    <input name="zalo" ng-model="vm.infomation.zalo" placeholder="{{::vm.translate.get('Zalo')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Facebook')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-facebook fs-1"></i>
                                    </span>
                                    <input name="facebook" ng-model="vm.infomation.facebook" placeholder="{{::vm.translate.get('Facebook')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Twiter')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-twitter fs-1"></i>
                                    </span>
                                    <input name="twiter" ng-model="vm.infomation.twiter" placeholder="{{::vm.translate.get('Twiter')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Instagram')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-instagram fs-1"></i>
                                    </span>
                                    <input name="instagram" ng-model="vm.infomation.instagram" placeholder="{{::vm.translate.get('Instagram')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Youtube')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-youtube fs-1"></i>
                                    </span>
                                    <input name="youtube" ng-model="vm.infomation.youtube" placeholder="{{::vm.translate.get('Youtube')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Pinterest')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="ki-outline ki-classmates fs-1"></i>
                                    </span>
                                    <input name="pinterest" ng-model="vm.infomation.pinterest" placeholder="{{::vm.translate.get('Pinterest')}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Working time')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="fs-4 fw-semibold form-label mt-2">
                                            <span>{{::vm.translate.get('Open')}}</span>
                                        </label>
                                        <input name="open" type="time" id="open" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="fs-4 fw-semibold form-label mt-2">
                                            <span>{{::vm.translate.get('Close')}}</span>
                                        </label>
                                        <input name="close" id="close" type="time" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <div class="col-md-2">
                                <label class="fs-4 fw-semibold form-label mt-2">
                                    {{::vm.translate.get('Slogan')}}
                                </label>
                            </div>
                            <div class="col-md-7">
                                    <template name="slogan" ng-model="vm.infomation.slogan" placeholder="{{::vm.translate.get('Slogan')}}" class="form-control" row="3"></template>
                            </div>
                        </div>
                        <div class="row fv-row mb-5">
                            <label class="fs-3 fw-semibold form-label mt-2">
                                {{::vm.translate.get('Description')}}
                            </label>
                            <textarea ui-tinymce="vm.tinymceDescriptionOptions" name="description" class="form-control" ng-model="vm.infomation.description"></textarea>
                        </div>
                        <div class="separator separator-dashed my-6"></div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" ng-click="vm.save()" class="btn btn-primary">
                                    <span class="indicator-label" ng-hide="vm.showProgress">{{::vm.translate.get('Save Changes')}}</span>
                                    <span ng-show="vm.showProgress">
                                        {{::vm.translate.get('Please wait...')}}
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
