@{ Layout = "_Layout"; }


<title>Lỗi 404</title>
<div class="breadcrumb_background margin-bottom-60">
    <div class="title_full">
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 a-left">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a  href="~/" title="Trang chủ">
                                    <span>Trang chủ</span>
                                </a>
                                <span class="mr_lr">&nbsp;/&nbsp;</span>
                            </li>

                            <li>
                                <strong>
                                    <span>404</span>
                                </strong>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="container a-center">
            <p class="title_page">404</p>
        </div>
    </div>
</div>

<section class="main-cart-page main-container col1-layout">
    <div class="wrap_background_aside padding-top-15 margin-bottom-40 padding-left-0 padding-right-0 cartmbstyle">
        <div class="cart-mobile container">
                <div class="header-cart">
                    <div class="title-cart">
                        <h3>
                            Không tìm thấy trang bạn đã yêu cầu. Có thể trang đã được xóa hoặc đã di chuyển 
                        </h3>
                    </div>
                </div>
                <div class="header-cart-content" style="background:#fff;"></div>
        </div>
    </div>
</section>