@{
    Layout = null;
}

<h1>lỗi 500!</h1>
<br />
<h2>Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn</h2>
<br />
<h3>Vui lòng liên hệ kỹ thuật viên để sử lý</h3><br />
<p>Emai: phanbinh.webhcm@gmailcom</p><br />
<p>ĐIện thoại: <a href="tel:0967947079">0967 947 079</a></p>


