
<div class="d-flex align-items-center justify-content-between flex-wrap mt-2 mb-5">
    <div class="mr-3">
        <h1 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">{{::vm.translate.get('Update translation for')}} {{vm.category.defaultCultureName}}</span>
        </h1>
    </div>
</div>
<div class="card card-custom card-stretch gutter-b">
    <div class="card-body pt-10">
        <form name="categoryTranslationForm" class="form-horizontal">
            <div class="alert alert-custom  alert-outline-danger fade show mb-5" role="alert" ng-show="vm.validationErrors">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <ul>
                        <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right text-right">{{::vm.translate.get('Name')}}</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.category.name" placeholder="{{::vm.translate.get('Name')}}" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label text-right text-right">{{::vm.translate.get('Description')}}</label>
                <div class="col-sm-10">
                    <textarea name="description" ng-model="vm.category.description" rows="3" placeholder="{{::vm.translate.get('Description')}}" class="form-control" />
                </div>
            </div>
            <div class="separator separator-dashed my-6"></div>
            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-light-primary" ng-click="vm.save()"><i class="la la-check mr-1"></i> {{::vm.translate.get('Save')}}</button>
                    <button ui-sref="category" class="btn btn-light-danger"><i class="la la-close mr-1"></i>{{::vm.translate.get('Cancel')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
