@{
    ViewData["Title"] = Localizer["Truy cập bị từ chối"];
}

<header>
    <h1 class="text-danger">@Localizer["Chúng tôi xin lỗi!"]</h1>
    <h2 class="text-danger">@Localizer["Cần có quyền để truy cập trang."]</h2>
</header>
