@model ForgotPasswordViewModel
@{
    Layout = null;
}
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Lấy lại mật khẩu - GUNSAN</title>
    <meta name="description" content="GUNSAN">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/media/logo/faricon.png" type="image/x-icon" rel="shortcut icon" />
    <link href="~/_content/Webhcm.Module.Core/css/login.css" rel="stylesheet" type="text/css">
    <link href="~/_content/Webhcm.Module.Core/css/style.bundle.css" rel="stylesheet" type="text/css">

</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable">
    <div class="d-flex flex-column flex-root">
        <div class="login login-4 login-signin-on d-flex flex-row-fluid">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('/media/bg/bg-3.jpg');">
                <div class="login-form text-center p-7 position-relative">
                    <div class="d-flex flex-center mb-5">
                        <a href="/">
                            <img src="~/media/logo/logo-ac.png" class="max-h-150px" alt="logo">
                        </a>
                    </div>
                    <div>
                        <div class="mb-10">
                            <h2>Lấy lại mật khẩu</h2>
                            <div class="text-muted font-weight-bold">@Localizer["Enter your email."]</div>
                        </div>
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" asp-area="Core" asp-controller="Account" asp-action="ForgotPassword" method="post">
                            <div class="form-group mb-10 fv-plugins-icon-container">
                                <input asp-for="Email" placeholder="@Localizer["Email"]" class="form-control h-auto form-control-solid py-4 px-8 form-control h-auto form-control-solid py-4 px-8-solid h-auto py-4 px-8" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group d-flex flex-wrap flex-center mt-10">
                                <button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">@Localizer["Submit"]</button>
                                <a asp-area="Core" asp-controller="Account" asp-action="Login" class="btn btn-light-danger font-weight-bold px-9 py-4 my-3 mx-2">@Localizer["Cancel"]</a>
                            </div>
                            <div></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1400
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#3699FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#E4E6EF",
                        "dark": "#181C32"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1F0FF",
                        "secondary": "#EBEDF3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#3F4254",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#EBEDF3",
                    "gray-300": "#E4E6EF",
                    "gray-400": "#D1D3E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#7E8299",
                    "gray-700": "#5E6278",
                    "gray-800": "#3F4254",
                    "gray-900": "#181C32"
                }
            },
            "font-family": "Poppins"
        };
    </script>
    <script src="~/_content/Webhcm.Module.Core/plugins/global/plugins.bundle.js?v=7.2.9"></script>
    <script src="~/_content/Webhcm.Module.Core/plugins/custom/prismjs/prismjs.bundle.js?v=7.2.9"></script>
    <script src="~/_content/Webhcm.Module.Core/js/scripts.bundle.js?v=7.2.9"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
